<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Inverted Border Radius Card</title>
    <link rel="stylesheet" type="text/css" href="../css/个人信息页.css">
  </head>
  <body>
    <div class="card">
      <div class="box">
        <div class="imgBx">
          <video src="../video/bg.mp4" typeof="video/mp4" autoplay loop muted></video>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <h2>Lila Simmons <br><span>Professional Artist</span></h2>
          <ul>
            <li>Posts <span>62</span></li>
            <li>Followers <span>120</span></li>
            <li>Following <span>47</span></li>
          </ul>
          <button>Follow</button>
        </div>
      </div>
      <div class="circle">
        <div class="imgBx">
          <img src="../images/portrait.jpeg" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
